---
import Section from '$components/Section.astro'
---

<Section name="Programme">
  <p class="my-2 text-lg">
    On March 28, 2023 our venue will host <strong>7</strong> consecutive speakers,
    each of whom will give a talk on a particular aspect of software and technology.
  </p>

  <p class="my-2 text-lg">
    Futhermore we will host <strong>3</strong> workshops throughout the day! More
    information about the topics, timeslots and enrollment will be announced shortly.
  </p>
</Section>
