---
import type { HTMLAttributes } from 'astro/types';

const colors = ['green', 'red', 'light-red', 'orange', 'brown'] as const

type Color = (typeof colors)[number]

export interface Props extends HTMLAttributes<'figure'> {
  color?: Color
}

const { color = 'red', ...attributes } = Astro.props
---

<figure {...attributes}>
  <div>
    <slot name="image" />
  </div>

  <hr class:list={['w-16', 'mx-auto', 'mt-2', `text-${color}`]} />

  <slot />
</figure>
