<div class="contents" x-data="{ open: false }">
  <button @click="open = true">
    <slot name="control" />
  </button>

  <article
    class="fixed inset-0 z-50 flex flex-col transition-opacity duration-300 backdrop-blur-2xl"
    aria-modal
    x-bind="open"
    x-show="open"
    x-transition.opacity>
    <div class="fixed inset-0 flex bg-brown/40" @click="open = false" @keydown="open = false">
      <slot />
    </div>
  </article>
</div>
