---
import { getCollection } from 'astro:content'
import { Image } from '@astrojs/image/components'

import { resolve } from '$utils/resolve'

const partners = await getCollection('partners')
---

<div class="mt-12 flex flex-col content-center p-4">
  <h3 class="text-off-red text-bold my-4 text-center font-mono text-2xl">
    Our partners
  </h3>

  <ul class="grid place-content-evenly gap-4 md:grid-cols-2">
    {partners.filter((partner) => {
      const { tier } = partner.data

      return tier === 'Gold' || tier === 'Platinum'
    }).map((partner) => {
      const { slug, data } = partner

      const { name, logo } = data

      return (
        <li class="flex h-24 px-4">
          {logo.format === 'svg' ?
            <img
              class="object-contain saturate-50 transition hover:saturate-100"
              src={logo.src}
              alt={name}
            />
          :
            <Image
              class="object-contain saturate-50 transition hover:saturate-100"
              src={logo}
              alt={name}
            />
          }
        </li>
      )
    })}
  </ul>

  <a class="my-2 text-center text-green underline" href="#partners">And many more!</a>
</div>
